.input{
    background: none;
    outline: none;
    padding: 0.6em;
    border: blue solid 2px;
    border-radius: 0.3em;
    color: white;
}

.input:focus{
    border: rgb(124, 124, 255) solid 2px;
}

.input:hover{
    border: rgb(124, 124, 255) solid 2px;
}

.button{
    position: relative;
    background: blue;
    padding: 0.75em 1em;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    margin-left: 0.2em;
    margin-right: 1em;
    color: white;
}

.linkButton{
    top: 0px;
    left: 0px;
    position: absolute;
    color: white;
    text-decoration: none;
    padding: 0.8em;
}

.button:hover{
    transition: 50ms;
    background: rgb(124, 124, 255);
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    background-color: rgb(41, 41, 41);
    width: 100%;
    height: 4em;
    z-index: 10;
    box-shadow: 7px 2px 15px black;
}

.link{
    color: white;
    margin: 0em 1em;
    text-decoration: none;
}

.links{
    display: flex;
}

.busqueda{
    display: flex;
    justify-content: center;
    right: 0.4em;
    margin-top: 7em;
}
