.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* body{
  background-image: url('/home/jesuan/Documentos/PI (Proyecto Individual)/PI-Videogames-main/client/src/components/images/2-27534_imagenes-de-minecraft-hd-4k.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

body{
  background: url('/home/jesuan/Documentos/PI (Proyecto Individual)/PI-Videogames-main/client/src/components/images/1132186.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p{
  color: white;
  margin: 0px 0px 0px 0px;
}

span{
  color: white;
}