.button{
    margin-top: 3em;
    background: purple;
    padding: 1.4em 2.3em 1.5em 2.3em;
    border: none;
    border-radius: 0.8em;
    cursor: pointer;
}

.button:hover{
    transition: 0.4s;
    background: rgb(187, 0, 187);
}

.button span {
    font-size: 1.4em;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10em;
}

.fondoLanding 
{
background-image: url('../images/2-27534_imagenes-de-minecraft-hd-4k.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center center;
background-size: cover;
position: absolute;
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: -1;
}
