.button{
    margin-top: 3em;
    background: purple;
    padding: 1.4em 2.3em 1.5em 2.3em;
    border: none;
    border-radius: 0.8em;
    cursor: pointer;
}

.button:hover{
    transition: 0.4s;
    background: rgb(187, 0, 187);
}

.button span {
    font-size: 1.4em;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10em;
}