.container{
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.select{
    color: white;
    margin: 1em 3em;
    width: 8em;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
}

.select option{
    background-color: rgb(22, 22, 22);
}

.containers{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 700px) {
    .container {
        margin-top: 3em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
