.container{
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.select{
    color: white;
    margin: 1em 3em;
    width: 8em;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
}

.select option{
    background-color: rgb(22, 22, 22);
}

.containers{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 500px) {
    .container {
        margin-top: 3em;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .containers {
        margin-left: 1em;
        margin-top: 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        grid-column: 1/3;
    }
}

@media screen and (max-width: 900px) {
    .container {
        margin-top: 3em;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .containers {
        margin-left: 1em;
        margin-top: 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        grid-column: 1/3;
    }
}